.icon {
  display: inline-block;
  width: 24px;
  height: 24px;

  &--menu {
    background-image: url(/src/images/icons/burger-menu.png);
    background-size: cover;
  }

  &--close {
    background-size: cover;
    background-image: url(../images/icons/icon-close.png);
  }
}
