@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}


@mixin contentPadding() {
  padding: 27px 20px;

  @include onTablet {
    padding: 39px 34px;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content
  }
}
